@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

:root {
    --color-brand-primary: #0F172A;
    /* Midnight Blue */
    --color-brand-secondary: #3B82F6;
    /* Electric Blue */
    --color-brand-accent: #60A5FA;
    /* Lighter Blue for highlights */
    --color-bg-light: #F8FAFC;
    /* Slate 50 */
}

@theme {
    --font-sans: 'Inter', system-ui, sans-serif;
    --color-brand-primary: var(--color-brand-primary);
    --color-brand-secondary: var(--color-brand-secondary);
    --color-brand-accent: var(--color-brand-accent);
    --color-bg-light: var(--color-bg-light);
}

body {
    font-family: var(--font-sans);
    background-color: var(--color-bg-light);
    color: var(--color-brand-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jakarta Sans', serif !important;
}

html,
body {
    font-family: 'Google Sans', sans-serif;
}
